{% extends 'base.html' %}
{% block body_id %}add_category{% endblock %}
{% block title %} {% if brand_id %} Edit Brand {% else %} Add Brand {% endif %} {% endblock title%}
{% block controller %} ng-controller="AddMultipleBrandController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'categories' %}"> Categories </a></li>
		<!-- <li> <a href="{% url 'products' %}"> Products </a></li>
		<li> <a href="{% url 'brands' %}"> Brands </a></li>
		<li> <a href="{% url 'vat' %}" class="no-border"> Vat Type </a></li> -->
		<li class="horizontal_menu_active"> <a href="{% url 'items' %}"> Items </a></li>
		<li> <a href="{% url 'batches' %}"> Batches </a></li>
		<li> <a href="{% url 'opening_stock' %}"> Opening Stock </a></li>
		<li> <a href="{% url 'closing_stock' %}"> Closing Stock </a></li>
	</ul>
{% endblock %}
{% block sub_menu %}
	<li class=""> <a href="{% url 'brands' %}"> List </a></li>
	<li class=""> <a href="{% url 'add_brand' %}"> {% if brand_id %} Edit Brand {% else %} Add Brand {% endif%} </a></li>
	<li class="horizontal_menu_active"> <a href="{% url 'add_multiple_brand' %}"> Add Multiple Brands </a></li>
{% endblock sub_menu%}
{% block content %}

		<form name="add_category_form">
			<div class="col-md-8 col-sm-8 margin-top">
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Brand Name</th>
						<th>Delete</th>
					</tr>
					<tr ng-repeat="brand in brand_list">
						<td>[[$index+1]]</td>
						<td><input type="text" name="brand_name" ng-model="brand.name" /></td>
						<td><a href="" ng-click="remove_brand(brand)">X</a></td>
					</tr>
				</table>
			</div>
			<div class="col-md-8 col-sm-8">
				<div class="button_control">
					<input class="create_button" type="button" value="Bulk Brands" ng-click="add_bulk_brands('')" />
					<input class="create_button" type="button" value="Single Brand" ng-click="add_bulk_brands('single')" />
					<input class="create_button" type="button" value="Save" ng-click="save_brand()"/>
					<p class="error_msg">[[validate_brand_error_msg]]</p>
				</div>
			</div>
		</form>
	</div>
{% endblock %}