{% extends 'base.html' %}

{% block body_id %}inventory{% endblock %}
{% block title %} Item {% endblock title%}
{% block controller %} ng-controller="ItemController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}
	{% include 'add_product_pop_up.html' %}
	{% include 'add_brand_pop_up.html' %}    
	{% include 'add_vat_pop_up.html' %} 
	
{% endblock %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'categories' %}"> Categories </a></li>
		<!-- <li> <a href="{% url 'products' %}"> Products </a></li>
		<li> <a href="{% url 'brands' %}"> Brands </a></li>
		<li> <a href="{% url 'vat' %}" class="no-border"> Vat Type </a></li> -->
		<li class="horizontal_menu_active"> <a href="{% url 'items' %}"> Items </a></li>
		<li> <a href="{% url 'batches' %}"> Batches </a></li>
		<li> <a href="{% url 'opening_stock' %}"> Opening Stock </a></li>
		<li> <a href=""> Closing Stock </a></li>
	</ul>
{% endblock %}
{% block sub_menu %}
	<li class=""> <a href="{% url 'items' %}"> List </a></li>
	<li class="horizontal_menu_active"> <a href="{% url 'add_item' %}"> Add Item </a></li>
{% endblock sub_menu%}
{% block content %}
	<div class="form_container white_bg">
		<h3 align="center"> Add Item </h3>

		<form name="item_form">
			<div class="col-md-6 col-sm-6">
				<div class="control">
					<label>Item Name</label>
					<input type="text" ng-model="item.name" />
				</div>
				<!-- <div class="control">
					<label>Item Type</label>
					<select name="item type" ng-model="item.type" >
						<option value="">Select</option>
						<option value="Stockable">Stockable</option>
						<option value="Non Stockable">Non Stockable</option>
						<option value="Services">Services</option>
					</select>

				</div> -->
				<!-- <div class="control" ng-show="item.type == 'Stockable'">
					<label>Product</label>
					<input type="text" ng-model="product_name" ng-change="get_products()" ng-click="selected_product_flag=true;"/>
					<div class="search_list" ng-show="selected_product_flag">
						<div class="search_list_item" ng-click="selected_product_flag=false" ng-show="selected_product_flag" ng-hide="!selected_product_flag">
							<span><a href="" ng-click="new_product()">Create New</a></span>
						</div>
						<div ng-repeat="product in products" class="search_list_item" ng-class="{'highlight': $index == focusIndex}"ng-click="select_product_details(product)">
							<span>[[product.name]] - [[product.category_name]]</span>
						</div>
					</div>
				</div>
				<div class="control" ng-show="item.type == 'Stockable'">
					<label>Brand</label>
					<input type="text" ng-model="brand_name" ng-change="get_brands()" ng-click="select_brand_flag=true"/>
					<div class="search_list" ng-show="select_brand_flag">
						<div class="search_list_item" ng-click="select_brand_flag=false" ng-show="select_brand_flag" ng-hide="!select_brand_flag">
							<span><a href="" ng-click="new_brand()">Create New</a></span>
						</div>
						<div ng-repeat="brand in brands" class="search_list_item" ng-class="{'highlight': $index == focusIndex}"ng-click="select_brand_details(brand)" >
							<span>[[brand.name]]</span>
						</div>
					</div>
				</div>
				<div class="control" ng-show="item.type == 'Stockable'">
					<label>Vat Type</label>
					<input type="text" ng-model="vat_type" ng-change="get_vat_list()" ng-click="selected_vat_flag=true"/>
					<div ng-show="selected_vat_flag" class="search_list">
						<div class="search_list_item" ng-click="selected_vat_flag=false" ng-show="selected_vat_flag" ng-hide="!selected_vat_flag">
							<span><a href="" ng-click="new_vat()">Create New</a></span>
						</div>
						<div ng-repeat="vat in vat_list" class="search_list_item" ng-class="{'highlight': $index == focusIndex}" ng-click="select_vat_details(vat)">
							<span>[[vat.vat_name]]</span>
						</div>
					</div>
				</div>
				<div class="control" ng-show="item.type == 'Stockable'">
					<label>Cess</label>
					<input type="text" ng-model="item.cess"/>
				</div> -->
				<div class="control">
					<label>Description</label>
					<textarea ng-model="item.description"></textarea>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				
					
				<div >		
					<div class="control">
						<label>UOM</label>
			            <select ng-model="item.uom" ng-options="uom for uom in uoms" >
							<option value=""> Select</option>
						</select>						
					</div>
					<!-- <div class="follow_up_div" ng-show="item.uom == 'box'">
						<label>1 Box = </label>
						<input type="text" ng-model="item.unit_per_box" />
						<select ng-model="item.box_uom" ng-options="uom for uom in uoms | filter:'!box'" >
							<option value=""> Select</option>
						</select>						
					</div> -->
					<!-- <div class="follow_up_div" ng-show="item.uom == 'packet' || item.box_uom == 'packet'">
						<label>1 Packet = </label>
						<input type="text" ng-model="item.unit_per_packet" />
						<select ng-model="item.packet_uom" ng-options="uom for uom in uoms | filter:'!packet' |filter:'!box'" >
							<option value=""> Select</option>
						</select>						
					</div> -->
					<!-- <div class="follow_up_div" ng-show="item.uom == 'piece' || item.box_uom == 'piece' || item.packet_uom == 'piece'">
						<label>1 Piece = </label>
						<input type="text" ng-model="item.unit_per_piece" />
						<select ng-model="item.piece_uom" ng-options="uom for uom in uoms | filter:'!piece'| filter:'!packet' |filter:'!box'">
							<option value=""> Select</option>
						</select>						
					</div> -->
				</div>
				<div class="button_control">
					<p class="error_msg">[[no_product_msg]]</p>
					<p class="error_msg">[[no_brand_msg]]</p>
					<p class="error_msg">[[no_vat_msg]]</p>
					<p class="error_msg">[[validate_item_error_msg]]</p>
					 <a href="{% url 'items' %}" class="create_button"> Cancel </a>
					<input type="button" value="Save" ng-click="save_item()" class="create_button">
				</div>
			</div>
		</form>
	</div>
{% endblock %}