
<div class="form_container row" id="add_item">
		<div class="control">
       <img src="/static/images/icon2.jpg" ng-click="hide_popup()" align="right" />
  </div>
</br>
	<h3 align="center"> New Item </h3>
</br>
	<form name="item_form">
		<div class="col-md-6 col-sm-6">
			<div class="control">
				<label>Item Name</label>
				<input type="text" ng-model="item.name" id="item_name_data" />
			</div>
			<div class="control">
				<label>Description</label>
				<textarea ng-model="item.description"></textarea>
			</div>
            <div class="control">
				<label>Category</label>
				<input type="text" ng-model="category_name" name="category_name" ng-change="get_category_list()"/><br/>
				<div class="search_list" ng-show="categories.length > 0">
					<div ng-repeat="category in categories" ng-click="select_category(category)" class="search_list_item" ng-class="{'highlight': $index == focusIndex}">
						<span>[[category.name]]</span>
					</div>
				</div>
				<p class="error_msg">[[no_categories_msg]]</p>
			</div>
			<div class="control" >
				<label>UOM</label>
			    <select ng-model="item.uom">	
					<option value=""> Select</option>
						<option value="Kg">Kg </option>
						<option value="gm">gm </option>
						<option value="mg">mg </option>
						<option value="Packet">Packet </option>
						<option value="Box">Box </option>
						<option value="Piece">piece </option>
				</select>						
			</div>
			
					<!-- <div class="follow_up_div" ng-show="item.uom == 'box'">
						<label>1 Box = </label>
						<input type="text" ng-model="item.unit_per_box" />
						<select ng-model="item.box_uom" ng-options="uom for uom in uoms | filter:'!box'" >
							<option value=""> Select</option>
						</select>						
					</div>
					<div class="follow_up_div" ng-show="item.uom == 'packet' || item.box_uom == 'packet'">
						<label>1 Packet = </label>
						<input type="text" ng-model="item.unit_per_packet" />
						<select ng-model="item.packet_uom" ng-options="uom for uom in uoms | filter:'!packet' |filter:'!box'" >
							<option value=""> Select</option>
						</select>						
					</div>
					<div class="follow_up_div" ng-show="item.uom == 'piece' || item.box_uom == 'piece' || item.packet_uom == 'piece'">
						<label>1 Piece = </label>
						<input type="text" ng-model="item.unit_per_piece" />
						<select ng-model="item.piece_uom" ng-options="uom for uom in uoms | filter:'!piece'| filter:'!packet' |filter:'!box'">
							<option value=""> Select</option>
						</select>						
					</div> -->
				<!-- </div>
			</div> -->
			<div class="control">
				<p class="error_msg">[[no_product_msg]]</p>
				<p class="error_msg">[[no_brand_msg]]</p>
				<p class="error_msg">[[no_vat_msg]]</p>
				<p class="error_msg">[[validate_item_error_msg]]</p>
				<input type="button" value="Save" ng-click="save_item()" />
				<input type="button" value="Cancel" ng-click="hide_popup()" />
			</div>
		</div>
	</form>
</div>