{% extends 'base.html' %}
{% block body_id %}add_category{% endblock %}
{% block title %} {% if brand_id %} Edit Brand {% else %} Add Brand {% endif %} {% endblock title%}
{% block controller %} ng-controller="AddBrandController" ng-init="init('{{csrf_token}}', '{{brand_id}}')"{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'categories' %}"> Categories </a></li>
		<!-- <li> <a href="{% url 'products' %}"> Products </a></li>
		<li> <a href="{% url 'brands' %}"> Brands </a></li>
		<li> <a href="{% url 'vat' %}" class="no-border"> Vat Type </a></li> -->
		<li class="horizontal_menu_active"> <a href="{% url 'items' %}"> Items </a></li>
		<li> <a href="{% url 'batches' %}"> Batches </a></li>
		<li> <a href="{% url 'opening_stock' %}"> Opening Stock </a></li>
		<li> <a href=""> Closing Stock </a></li>
	</ul>
{% endblock %}
{% block sub_menu %}
	<li class=""> <a href="{% url 'brands' %}"> List </a></li>
	<li class="horizontal_menu_active"> <a href="{% url 'add_brand' %}"> {% if brand_id %} Edit Brand {% else %} Add Brand {% endif%} </a></li>
	<li class=""> <a href="{% url 'add_multiple_brand' %}"> Add Multiple Brands </a></li>
{% endblock sub_menu%}
{% block content %}
	{% if brand_id %}
		<h2> Edit Brand </h2>
	{% else %}
		<h2> Add Brand </h2>
	{% endif %}
	<div class="col-md-6 col-sm-6">
		<form name="add_brand_form">
			<div class="control">
				<label>Name</label>
				<input type="text" ng-model="brand.name" name="brand_name" /><br/>
			</div>
			<div class="button_control">
				<input class="create_button" type="button" value="Save" ng-click="save_brand()"/>
				<p class="error_msg">[[validate_brand_error_msg]]</p>
			</div>
		</form>
	</div>
{% endblock %}