{% extends 'base.html' %}
{% block body_id %}inventory{% endblock %}
{% block title %} Brands  {% endblock title%}
{% block controller %} ng-controller="BrandsController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'categories' %}"> Categories </a></li>
		<!-- <li> <a href="{% url 'products' %}"> Products </a></li>
		<li> <a href="{% url 'brands' %}"> Brands </a></li>
		<li> <a href="{% url 'vat' %}" class="no-border"> Vat Type </a></li> -->
		<li class="horizontal_menu_active"> <a href="{% url 'items' %}"> Items </a></li>
		<li> <a href="{% url 'batches' %}"> Batches </a></li>
		<li> <a href="{% url 'opening_stock' %}"> Opening Stock </a></li>
		<li> <a href=""> Closing Stock </a></li>
	</ul>
{% endblock %}
{% block dialogue_popup %}
	{% include 'view_brand.html' %}                        
{% endblock %}
{% block sub_menu %}
	<li class="horizontal_menu_active"> <a href="{% url 'brands' %}"> List </a></li>
	<li class=""> <a href="{% url 'add_brand' %}"> {% if product_id %} Edit Brand {% else %} Add Brand {% endif%} </a></li>
	<li class=""> <a href="{% url 'add_multiple_brand' %}"> Add Multiple Brands </a></li>
{% endblock sub_menu%}
{% block content %}
	<h2> Brands </h2>
	<a class="create_button" href="{% url 'add_brand' %}">Create Brand</a>
	<div class="col-md-8 col-sm-8">
	<div class="search">
		<label>Search Brand</label>
		<input type="text" name="brand" ng-model="brand_name" ng-change="get_brand_list()" >
		<p class="error_msg">[[no_brand_msg]]</p>
	</div>
</div>
	<table ng-show="brands.length > 0" class="table table-striped">
		<tr>
			<th>Name</th>
			<th>View</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="brand in visible_list">
			<td>[[brand.name]]</td>
			<td><a href="" ng-click="view_brand(brand)">View</a></td>
			<td><a href="" ng-click="edit_brand(brand)">Edit</a></td>
			<td><a href="" ng-click="delete_brand(brand)">Delete</a></td>
			<p class="error_msg">{{msg}}</p>
		</tr>
	</table>
	<div ng-show="brands.length > 0">
		{% include 'pagination_div.html' %}
	</div>

{% endblock %}