{% extends 'base.html' %}
{% block body_id %}reports{% endblock %}
{% block title %} Stock Report {% endblock title%}
{% block controller %} ng-controller="CashFlowReportController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block horizontal_menu %}
	<ul>
	
		<li ><a href="{% url 'stock_report' %}"> Stock Report </a></li>
		<li class="horizontal_menu_active"><a href="{% url 'cash_flow_report' %}"> Cash Flow Report </a></li>
	</ul>
{% endblock horizontal_menu %}

{% block content %}
	<h2>Cash Flow Report </h2>
	<div class="report_form row">
		
		<div class="col-md-8 col-sm-8">
		<div class="search">
		<label>Search Batch</label>
		<input type="text" name="batch_name" ng-model="batch_name" ng-change="get_batch_list()" autocomplete="off" >
		<div class="search_list" ng-show="batches.length > 0">
			<div class="search_list_item" ng-repeat="batch in batches track by $index" ng-class="{'highlight': $index == focusIndex}" ng-click="select_batch(batch)">
				<span>[[batch.name]] </span>
			</div>
		</div>
	</div>
		<p class="error_msg">[[no_batch_msg]]</p>
		
	</div>
    
	<table  class="table list_table" ng-show="cash_entries.length > 0" >
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<!-- <th>Stock</th>
			<th>Consumed Quantity</th>
			<th ng-show = "closed_flag">Closing Stock</th>
			<th>Purchase Price</th>
			<th>Selling price</th> -->
			
		</tr>
		<tr ng-repeat="cash_entry in cash_entries">
			<td>[[cash_entry.date]]</td>
			<td>[[cash_entry.amount]]</td>
			<!-- <td>[[batch_item.stock]]</td>
			<td>[[batch_item.consumed_quantity]]</td>
			<td ng-show="closed_flag">[[batch_item.closing_stock]]</td>
			<td>[[batch_item.purchase_price]]</td>
			<td>[[batch_item.selling_price]]</td> -->
			<p class="error_msg">{{msg}}</p>
		</tr>
		<tr>
		</tr>
		<tr >
			<td colspan=7><label>Total Amount Recieved :</label>[[total_amount_recieved]]
			</td>
		</tr>
			<tr>
			<td colspan=7 ><label>Total Consumed Quantity Price :</label>[[total_selling_price]]
			</td>
		</tr>
		<tr>
			<td colspan=7 ><label>Total Cash to be Collected :</label>[[total_cash_to_be_collected]]
			</td>
		</tr>

	</table>
		<div ng-show="stocks_report.length > 0 ">
			{% include 'pagination_div.html' %}
		</div>
		
		<input type="button" class="create_button" accesskey="p" ng-keypress="generate_pdf()" value="Print" ng-click="generate_pdf(batch_id)"/>
	</div>

{% endblock content %}