{% extends 'base.html' %}
{% block body_id %}inventory{% endblock %}
{% block title %} closingStock {% endblock title%}
{% block controller %} ng-controller="ClosingStockController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'categories' %}"> Categories </a></li>
	
		<li class="horizontal_menu_active"> <a href="{% url 'items' %}"> Items </a></li>
		<li> <a href="{% url 'batches' %}"> Batches </a></li>
		<li> <a href="{% url 'opening_stock' %}"> Opening Stock </a></li>
		<li> <a href="{% url 'closing_stock' %}"> Closing Stock </a></li>
	</ul>
{% endblock %}
{% block dialogue_popup %}
	<!-- {% include 'view_batch_details.html' %} -->                        
{% endblock %}

{% block content %}
	<h2>Closing Stock</h2>
	
	<div class="col-md-8 col-sm-8">
	<div class="search">
		<label>Search Batch</label>
		<input type="text" name="batch_name" ng-model="batch_name" ng-change="get_batch_list()" autocomplete="off" >
		<div class="search_list" ng-show="batches.length > 0">
			<div class="search_list_item" ng-repeat="batch in batches track by $index" ng-class="{'highlight': $index == focusIndex}" ng-click="select_batch(batch)">
				<span>[[batch.name]] </span>
			</div>
		</div>
	</div>
		<p class="error_msg">[[no_batch_msg]]</p>
		
	</div>
	
	
	<table  class="table table-striped" ng-show="batch_items.length > 0">
		<tr>
			<th>Item Name</th>
			<th>Item Code</th>
			<th>Stock</th>
			<th>Closing Stock</th>
			<th>Consumed Quantity</th>
			
			
		</tr>
		<tr ng-repeat="batch_item in batch_items">
			<td>[[batch_item.item_name]]</td>
			<td>[[batch_item.code]]</td>
			<td>[[batch_item.stock]]</td>
			<td>
				<input type="text" ng-model="batch_item.closing_stock" style="width:50%" ng-change="calculate_consumed_quantity(batch_item)"/>
			</td>

			<td> [[batch_item.consumed_quantity]]</td>
			
			<p class="error_msg">{{msg}}</p>
		</tr>
	</table>
	
	<div class="col-md-12 col-sm-12">
			<div class="button_control" >
				
				<input type="submit" value="Save" ng-click="save_closing_stock()">
				
			</div>
		</div>
{% endblock content %}