{% extends 'base.html' %}
{% block body_id %}inventory{% endblock %}
{% block title %} Opening Stock {% endblock title%}
{% block controller %} ng-controller="OpeningStockController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}
	{% include 'add_item.html' %}
	{% include 'add_batch_popup.html' %}
	{% include 'save_successfull_popup.html'%}
{% endblock %}
{% block extrahead %}
	<script>
		$(function() {
		$( "#created_date" ).datepicker();
		$( "#expiry_date" ).datepicker();
		});
	</script>
{% endblock %}
{% block horizontal_menu %}
	<ul>
		<li> <a href="{% url 'categories' %}"> Categories </a></li>
		
		<li> <a href="{% url 'items' %}"> Items </a></li>
		<li> <a href="{% url 'batches' %}"> Batches </a></li>
		<li class="horizontal_menu_active"> <a href="{% url 'opening_stock' %}"> Opening Stock </a></li>
		<li> <a href="{% url 'closing_stock' %}"> Closing Stock </a></li>
		<li> <a href="{% url 'cash_entry' %}"> Cash Entry </a></li>
	</ul>
{% endblock %}
{% block submenu_container%}
{% endblock submenu_container%}
{% block content %}
	<h2> Opening Stock </h2>
	<div class="col-md-8 col-sm-8">
	<div class="search">
		<label>Search Batch</label>
		<input type="text" name="batch_name" ng-model="batch_name" ng-change="get_batch_list()" autocomplete="off" >
		<div class="search_list" ng-show="batches.length > 0">
			<div class="search_list_item" ng-repeat="batch in batches track by $index" ng-class="{'highlight': $index == focusIndex}" ng-click="select_batch(batch)">
				<span>[[batch.name]] </span>
			</div>
		</div>
	</div>
		<p class="error_msg">[[no_batch_msg]]</p>
		
	</div>
		<form name="opening_stock">
			
			<table class="table list_table table-striped rules" ng-show="opening_stock_items.length > 0">
				<tr>
					<th> # </th>
					<th> Item Name </th>
					<th> Code </th>
					<!-- <th> Batch </th> -->
					<th> Stock </th>
					<th> Quantity </th>
					<th> Purchase Price </th>
					<th> Selling Price </th>
					<th> UOM </th>
					<th> Net Amount </th>
					<th> Remove</th>
				</tr>
				<tr ng-repeat="item in opening_stock_items">
					<td>[[$index+1]]</td>
					<td>
						<input type="text" ng-model="item.name" ng-change="search_items(item)" ng-click="hide_item(item)"/>
						<div class="search_list_container">
							<div ng-show="item.item_search" class="search_list">
								<div ng-click="hide_item(item)" ng-hide="!item.item_search" ng-show="item.item_search" class="search_list_item">
									<span><a href="" ng-click="add_new_item(item)">Create New</a></span>
								</div>
								
								<div ng-repeat="item_data in item.items" ng-class="{'highlight': $index == focusIndex}" ng-click="select_item_details(item_data);"  class="search_list_item">
									<span>[[item_data.name]]</span>
								</div>
							</div>
						</div>
					</td>
					<td>[[item.code]]</td>
					<!-- <td>
						<input type="text" ng-change="search_batch(item)" ng-click="hide_batch(item)" ng-model="item.batch_name">	
						<div class="search_list_container">
							<div ng-show="item.batch_search" ng-hide="batch_selected || !batch_search" class="search_list">
								<div class="search_list_item" ng-show="item.batch_search" ng-hide="!item.batch_search" ng-click="hide_batch(item)">
									<span><a href="" ng-click="new_batch(item)">Create New</a></span>
								</div>
								<div ng-repeat="batch in item.batches" class="search_list_item" ng-class="{'highlight': $index == focusIndex}" ng-click="select_batch(batch);">
									<span ng-click="">[[batch.name]]</span>
								</div>
							</div>
						</div>
					</td> -->
					<td>[[item.stock]]</td>
					<td><input type="text" ng-model="item.quantity" ng-change="calculate_net_amount(item)"></td>
					<td>
						<input type="text" ng-model="item.purchase_price" ng-change="calculate_net_amount(item)"></td>
					<td>
						<input type="text" ng-model="item.selling_price"></td>	
					<td>
						<!-- <span ng-show="item.uom_exists">[[item.uom]]</span>
						<select ng-model="item.purchase_unit" ng-options="uom for uom in item.uoms" ng-hide="item.uom_exists">
							<option value=""> Select</option>
						</select> -->
						[[item.uom]]
					</td>
					<td>[[item.net_amount]]</td>
					<td><a href="" ng-click="remove_opening_stock_item(item)">X</a></td>
				</tr>
			</table>
			<br/>
			<input type="button" ng-click="add_new_opening_stock_item()" value="New Item" class="create_button">
			<input type="button" ng-click="add_bulk_items()" value="Bulk Items" class="create_button">
			<br/>
			<div class="button_control">
				<p class="error_msg">[[validate_opening_stock_msg]]</p>
				<p class="error_msg">[[no_batch_msg]]</p>
				<p class="error_msg">[[item.no_item_msg]]</p>
				<input class="create_button" type="button" value="Save" ng-click="save_opening_stock()">
			</div>
		</form>
	</div>
{% endblock content %}