{% extends 'base.html' %}
{% block body_id %}reports{% endblock %}
{% block title %} Stock Report {% endblock title%}
{% block controller %} ng-controller="StockReportController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block horizontal_menu %}
	<ul>
		<li class=""> <a href="{% url 'purchase_report' %}"> Purchase </a></li>
		<li> <a href="{% url 'sales_report' %}"> Sales </a></li>
		<li> <a href="{% url 'sales_return_report' %}"> Sales Return </a></li>
		<li><a href="{% url 'day_book' %}"> Accounts </a></li>
		<li><a href="{% url 'vendor_stock_report' %}"> Suppliers </a></li>
		<li><a href="{% url 'received_report' %}"> Customers </a></li>
		<li><a href="{% url 'salesman_incentive_report' %}"> Salesman </a></li>
		<li><a href="{% url 'pdc_report' %}" class="no-border"> PDC Report </a></li>
		<li class="horizontal_menu_active"><a href="{% url 'stock_report' %}"> Inventory </a></li>
	</ul>
{% endblock horizontal_menu %}
{% block sub_menu %}
	<li class="horizontal_menu_active"> <a href="{% url 'stock_report' %}"> Stock Report </a></li>
	<li><a href="{% url 'stock_aging_report' %}">Stock Aging Report</a></li>
	<li><a href="{% url 'catergory_wise_stock_report' %}">Category Wise Stock Report</a></li>
	<li><a href="{% url 'category_stock_aging_report' %}">Category Wise Stock Aging Report</a></li>
	<li><a href="{% url 'category_purchase_report' %}">Category Wise Purchase Report</a></li>
	<li><a href="{% url 'category_vendor_report' %}">Category Wise Vendor Report</a></li>
	<li><a href="{% url 'category_profit_report' %}">Category Wise Profit Report</a></li>
{% endblock sub_menu%}
{% block content %}
	<h2>Stock Report </h2>
	<div class="report_form row">
		<div class="control">
			<table class="table table-striped" ng-show="stocks_report.length > 0">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Batch</th>
					<th>Stock</th>
					<th>UOM</th>
				</tr>

				<tr ng-repeat="stock in visible_list">
					<td>[[($index)+((current_page-1)*page_interval)+1]]</td>
					<td>[[stock.item_name]]</td>
					<td>[[stock.batch_name]]</td>
					<td>[[stock.stock]]</td>
					<td>[[stock.stock_unit]]</td>
				</tr>
			</table>
		</div>
		<div ng-show="stocks_report.length > 0 ">
			{% include 'pagination_div.html' %}
		</div>
		<input type="button" class="create_button" accesskey="p" ng-keypress="generate_pdf()" value="Print" ng-click="generate_pdf()"/>
	</div>

{% endblock content %}