<div id="view_item">
<div class="control">
               <img src="/static/images/icon2.jpg" ng-click="hide_popup()" align="right" />
  </div>	
	<div class="control">
		<label>Name : </label>
		<label>[[item.name]]</label>
	</div>
	<div class="control" >
		<label>Code : </label>
		<label>[[item.code]]</label>
	</div>
	<!-- <div class="control" >
		<label>Product : </label>
		<label>[[item.product_name]]</label>
	</div>
	<div class="control" >
		<label>Brand : </label>
		<label>[[item.brand_name]]</label>
	</div>
	<div class="control" >
		<label>Item Type : </label>
		<label>[[item.type]]</label>
	</div>
	<div class="control" >
		<label>Vat Type : </label>
		<label>[[item.vat_name]]</label>
	</div>
	<div class="control" >
		<label>Cess : </label>
		<label>[[item.cess]]</label>
	</div>
	<div class="control" >
		<label>Size : </label>
		<label>[[item.size]]</label>
	</div>
	<div class="control" >
		<label>Barcode : </label>
		<label>[[item.barcode]]</label>
	</div> -->
	<div class="control" >
		<label>Description : </label>
		<label>[[item.description]]</label>
	</div>
	<div class="control" >
		<label>UOM : </label>
		<label>[[item.uom]]</label>
	</div>
	<div class="button_control">
		<input class="create_button" type="submit" value="Cancel" ng-click="hide_popup()"><br/>
	</div>
</div>