<div id="view_batch">
	<div class="control">
        <img src="/static/images/icon2.jpg" ng-click="hide_popup()" align="right" />
    </div>
	<div class="control">
		<label>Name : </label>
		<label>[[batch.name]]</label>
	</div>
	<div class="control">
		<label>Created Date : </label>
		<label>[[batch.created_date]]</label>
	</div>
	<div class="control">
		<label>Expiry Date : </label>
	    <label>[[batch.expiry_date]]</label>
	</div>
	<div class="button_control">
		<input class="create_button" type="submit" value="Cancel" ng-click="hide_popup()"><br/>
	</div>
</div>