<!DOCTYPE HTML>
<html ng-app="smartbook_erp" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title%} | Smartbook ERP </title>
    <!-- Calendar bootstrap css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" />
    <!-- Calendar css -->    
    <link rel="stylesheet" href="/static/css/style.css" />

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <!--  Angularjs -->
    <script src="/static/js/angular_app/lib/angular/angular.min.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-route.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
    <script src="/static/js/angular_app/app.js"></script>
    <script src="/static/js/angular_app/services.js"></script>
    <script src="/static/js/angular_app/directives.js"></script>
    <script src="/static/js/angular_app/common_controller.js"></script>
    <script src="/static/js/angular_app/accounting_controller.js"></script>
    <script src="/static/js/angular_app/supplier_controllers.js"></script>
    <script src="/static/js/angular_app/administration_controller.js"></script>
    <script src="/static/js/angular_app/customer_controller.js"></script>  
    <script src="/static/js/angular_app/inventory_controller.js"></script> 
    <script src="/static/js/angular_app/purchase_controller.js"></script>  
    <script src="/static/js/angular_app/sales_controller.js"></script> 
    <script src="/static/js/angular_app/dashboard_controller.js"></script>  

    {% block extrahead %}
    {% endblock extrahead %}
    
    </head>
    <body id="{% block body_id %}base{% endblock %}" {% block controller %}{% endblock controller %} key-trap>

        {% block body %}
            <div id="overlay"></div>
            <div id="popup_overlay"></div>

            <div class="spinner"></div>
            <div id="dialogue_popup_container">
                <div id="cust_dialogue_popup" class="container">
                    {% block cust_dialogue_popup %}
                        
                    {% endblock %}</div>
                <div id="no_cust_dialogue_popup" class="container">
                    {% block no_cust_dialogue_popup %}
                        
                    {% endblock %}</div>
                <div id="dialogue_popup" class="container">
                 
                    <a href="" class="close_pop" ng-click="hide_popup()"></a>
                   <!-- <div class="control">
                            <img src="/static/images/icon2.jpg" ng-click="hide_popup()" align="right" />
                    </div>-->
                    <div id="stock_search_popup" style="display:none;" ng-controller="StockViewController" ng-init="init('{{csrf_token}}')">
                        {% include 'search_item_stock.html' %} 
                    </div>
                    {% block dialogue_popup %}
                        
                    {% endblock %}
                    <p class="message"></p>
                </div> 
                   
            </div>        
            {% block header %}
                {% include 'header.html' %}
            {% endblock header %}
            <div class="main_content">
                <div class="container">
                    <div class="row aqua_bg no-padding">
                        <div class="col-md-1 col-sm-1 no-padding">
                            {% include "side_menu.html" %}
                        </div>
                        <div class="col-md-11 col-sm-11">
                            {% block horizontal_menu_container %}
                                <div class="row">
                                    <div class="horizontal_menu_container col-md-12 col-sm-12">
                                        <!-- <a href="" class="left-arrow"></a> -->
                                        <div class="horizontal_menu col-md-11 col-sm-11">
                                            {% block horizontal_menu %}
                                            {% endblock %}
                                        </div>
                                       <!--  <a href="" class="right-arrow"></a> -->
                                    </div>
                                </div>
                            {% endblock %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12 content">
                                    <div class="inner_content">
                                    {% block submenu_container%}
                                    <div class="row sub_menu">
                                        <div class="col-md-12 col-sm-12 no-padding" ng-init="init('Ha51XQ4gXm6YCrvI8OmlNwTEQLoGxsoX')" ng-controller="MenuController">
                                            <div class="left_arrow col-md-1 col-sm-1" ng-click="right_slide($event, 'left')"><a herf=""></a></div>
                                            <div class="col-md-10 col-sm-10 no-overflow">
                                                <ul>                                                
                                                    {% block sub_menu %}
                                                    {% endblock sub_menu%}                       
                                                </ul>
                                            </div>
                                            <div class="right_arrow col-md-1 col-sm-1" ng-click="left_slide($event, 'right')"><a herf=""></a></div>
                                        </div>                       
                                    </div> 
                                    {% endblock submenu_container%}            
                                    <div class="row">
                                    {% block content %}

                                    {% endblock content %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock footer %}
        {% endblock body%}
    </body>
</html>