
<html ng-app="smartbook_erp" class="no-js" lang="en">
	<head>
		<title> Forgot Password | Smartbook </title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    	<link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/style.css" />
	    <script src="/static/js/jquery-1.11.1.min.js"></script>
	    <script src="/static/js/jquery-ui.js"></script>
	    <!--  Angularjs -->
	    <script src="/static/js/angular_app/lib/angular/angular.min.js"></script>
	    <script src="/static/js/angular_app/lib/angular/angular-route.js"></script>
	    <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
	    <script src="/static/js/angular_app/app.js"></script>
	    <script src="/static/js/angular_app/services.js"></script>
	    <script src="/static/js/angular_app/directives.js"></script>
	    <script src="/static/js/angular_app/common_controller.js"></script>    
	</head>
	<body id="forgot_password" ng-controller="ForgotPasswordController" ng-init="init('{{csrf_token}}')">
		<div class="col-md-3 col-sm-3"> <!-- place holder --></div>
		<div class="col-md-8 col-sm-8 password_form"> 
			<form>
				<h3> Forgot Password </h3>
				<div class="control">
					<label> Username </label>
					<input type="password" name="username" ng-model="username" />
				</div>
				<div class="control">
					<label> New Password </label>
					<input type="password" name="new_password" ng-model="new_password" />
				</div>
				<div class="control">
					<label> Confirm Password </label>
					<input type="password" name="confirm_password" ng-model="confirm_password" />
				</div>
				<div class="col-md-9 col-sm-9">
					<p class="error_message"> [[error_message]] </p>
					<input type="submit" value="Submit" ng-click="save_new_password()" />
				</div>
			</form>
		</div>
		<div class="col-md-3 col-sm-3"> <!-- place holder --></div>
	</body>
</html>
