<!DOCTYPE HTML>
<html ng-app="smartbook_erp" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Smartbook ERP </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<!-- place holder -->
			</div>
			<div class="col-md-4 col-sm-4 login">				
				<div class="login_logo">
					<div class="login_header"> 
						<a href=""> Please Login </a>
					</div>
					<img src="/static/images/login_smartbook_logo.svg" class="logo_img" />
					<div class="shadow_div">
						<img src="/static/images/icon-arrow.jpg" />
					</div>
				</div>
				<form method="post" action="{% url 'login' %}">{% csrf_token%}
					<div class="table_container">
						<table border align="center">
							<tr>
								<td><img src="/static/images/icon1.png" /></td>
								<td><input type="text" name="username"></td>
							</tr>
							<tr>
								<td> 
									<img src="/static/images/icon2.png" />
								</td>
								<td>
									<input type="PASSWORD" name="password">
								</td>
							</tr>
						</table>
						<div class="clear"></div>
					</div>
					<a href="{% url 'forgot_password' %}" class="forgot_password"> Forgot Password </a>
					<p class="error_message">{% if message %}{{ message }}{% endif %}</p>
					<div class="clear button_container">
						<input type="submit" value="Signin" class="login_button" align="center">
					</div>
				</form>
			</div>
			<div class="col-md-4 col-sm-4">
				<!-- place holder -->
			</div>
		</div>
	</div>
</body>
</html>
