
{% extends 'base.html' %}
{% block title %} Reset Password {% endblock title%}
{% block body_id %}dashboard{% endblock %}
{% block controller %} 
	ng-controller="ResetPasswordController" ng-init="init('{{ csrf_token }}')"
{% endblock %}
{% block horizontal_menu_container %}{% endblock %}
{% block submenu_container%}{% endblock %}
{% block content %}

<div class="col-md-2 col-sm-2"> <!-- place holder --></div>
<div class="col-md-8 col-sm-8 password_form"> 
	<h3> Reset Password </h3>
	<form>
		<div class="control">
			<label> New Password </label>
			<input type="password" name="new_password" ng-model="new_password" />
		</div>
		<div class="control">
			<label> Confirm Password </label>
			<input type="password" name="confirm_password" ng-model="confirm_password" />
		</div>
		<div class="control">
			<p class="error_message"> [[error_message]] </p>
			<input type="submit" value="Submit" ng-click="save_new_password()" />
		</div>
	</form>
</div>
<div class="col-md-2 col-sm-2"> <!-- place holder --></div>

{% endblock content %}